.ds_mi_Sprite{ background:url("ds_mi_Sprite.png") top left no-repeat; }
.捕获_r2_c6{ width:30px; height:30px; background-position:-10px -10px; }
.捕获_r2_c4{ width:30px; height:30px; background-position:-10px -50px; }
.捕获_r2_c2{ width:30px; height:30px; background-position:-10px -90px; }

